.login-view[data-v-a5327d70]{height:100vh;background-color:#f5f5f5}.form-button[data-v-a5327d70]{margin:16px}.tips[data-v-a5327d70]{text-align:right;padding-right:16px}.tips-link[data-v-a5327d70]{color:#007aff;font-size:12px}
